* {
    box-sizing: border-box !important;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main-row {
    flex-flow: row nowrap;
    justify-content: center;
    display: flex;
}
.cell {
    width: 20%;
    height: 100px;
    background: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.marked {
    cursor: not-allowed;
    background-color: rgba(0, 238, 0, 0.5);
}
.stroke {
    color: #000;
    text-decoration:line-through;
}
.bingo-info {
    position: relative;
    font-size: 16px;
    padding: 4vw 0;
}
#win {
    animation-name: win;
    animation-duration: 1s;
}

@keyframes win {
    0% {left: 0%; color: gold;}
    25% {left: -2%; color: gold;}
    50% {left: 0%; color: gold;}
    50% {left: 2%; color: gold;}
    100% {left: 0%; color: gold;}
}
@media only screen and (max-width: 992px) {
    #main {
        width: 100%;
    }
    .bingo-info {
        font-size: 16px;
    }
}
@media only screen and (max-width: 300px) {
    .main-row {
        flex-direction: column;
    }
    .cell {
        width: 100%;
    }
    #root {
        width: 100%;
        height: 100%;
    }
}